//Reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

//general
body{
  overflow-x: hidden;
  
  background-color: #1c1c1c;
}

//header
header{
  margin: 5px;
  display: flexbox;
  .pantalla-inicial{
    display: inline-block;
    .corazon{
      font-size: 50px;
      left: 3%;
      position: absolute;
      color: #ffffff93;
    }
    .finales{
      margin: 10px 20px;
      width: 100%;
      height: 90vh;
      position: fixed;
      left: 0;
      .good{
        justify-content: center;
        .final-b{
          display: flex;
          position: absolute;
          left: 600px;
          width: 50vw;
          height: 90vh;
          align-content: center;
          #good{
            position: relative;
            height: 95vh;
            right: 500px;
            object-fit: cover;
            padding: 1%;
          }
          .bueno{
            height: 90vh;
            display: none;
            color: #fff;
            position: absolute;
            font-size: 20px;
            transition: opacity 0.3s ease;
            text-align: center;
            display: inline-block;
            flex-direction: row;
            background-color: #1111118c;
            border-radius: 30px;
            padding: 3%;
            .titulo-final{
              font-size: 25px;
              display: flex;
              bottom: 0;
              padding-top: 20px;
            }
          }
        }
      }

      .bad{
        justify-content: center;
        .final-m{
          display: flex;
          position: absolute;
          left: 600px;
          width: 50vw;
          height: 90vh;
          align-content: center;
          #bad{
            position: relative;
            height: 95vh;
            right: 500px;
            object-fit: cover;
            padding: 1%;
          }
          .malo{
            height: 90vh;
            display: none;
            color: #fff;
            position: absolute;
            font-size: 18px;
            transition: opacity 0.3s ease;
            text-align: center;
            display: inline-block;
            flex-direction: row;
            background-color: #1111118c;
            border-radius: 30px;
            padding: 3%;
            .titulo-final{
              font-size: 25px;
              display: flex;
              bottom: 0;
              padding-top: 20px;
            }
          }
        }
      }
    }
    .inicio{
      width: 300px;
      position: absolute;
      z-index: 0;
      left: 47vw;
      bottom: 200px;
      font-size: 80px;
      color: rgb(87, 87, 87); 
    }
  }
}

main{
  section{
    .modal-inicio{ 
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      opacity: 0;
      pointer-events: none;
      justify-content: center;
      align-items: center;
      transition: opacity .6s .9s;
      .introduccion {
        position: fixed;
        font-size: 30px;
        opacity: 1;
        color: rgb(255, 255, 255);
        transition: opacity 0.5s ease; 
        width: 80vw;
        text-align: center;
        display: inline-flex;
      }
      .oculto {
        opacity: 0;
      }
      .velo{
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        opacity: 0;
        transition: opacity 3s ease; 
        position: absolute;
        top: 0;
      }
      .barrera{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        #boton {
          position: relative;
          padding: 10px 20px;
          font-size: 50px;
          color: #ffffff;
          cursor: pointer;
          z-index: 1000;
        }
      }
      .inicio {
        position: fixed;
        font-size: 30px;
        color: rgb(0, 0, 0);
        transition: opacity 0.5s ease; 
        width: 80vw;
        height: 200px;
        text-align: center;
        display: inline-flex;
      }
      
      .hidden {
        display: none;
      }
    }
    .modal--show{
      opacity: 1;
      pointer-events: unset;
      transition: opacity .6s; 
    }
   
  }
  .novela{
    width: 100vw;
    position: fixed;
    justify-content: center;
    display: flex;
    bottom: 1%;
    .cuadro-player{
      margin: 0 10%;
      width: 1000px;
      justify-content: center;
      z-index: 0;
      #nombre-player{
        font-size: 30px;
        display: flex;
        width: max-content;
        padding: 0 1%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 3px solid rgb(77, 77, 77);
        border-bottom: 0;
        position: relative;
        background-color: #747474;
        top: 3px;
      }
      .cuadro-opciones{
        display: block;
        width: 100%;
        padding: 0 1%;
        min-height: 20vh;
        border-top-right-radius: 30px;
        border: 3px solid rgb(77, 77, 77);
        background-color: #c7c7c7;
        .sec{
          margin-bottom: 1%;
          width: 100%;
          height: 100%;
          .opcion{
            margin-top: 1%;        
            font-size: 20px;
            padding: 0 1%;
            width: 100%;
            &:hover{
              background-color: rgb(151, 151, 151);
              border-radius: 30px; 
            }
          }
          #seccion4{
            font-size: 20px;
            font-weight: 100;
          }
          .siguiente{
            
            display: flex;
            width: 100%;
            justify-content: end;
            flex-direction: row-reverse;
          }
        } 
      }
    }
    .cuadro-muerte{
      margin: 0 10%;
      width: 300px;
      
      display: flexbox;
      justify-content: center;
      position: absolute;
      bottom: 400px;
      right: 700px;
      .dialogo-muerte{
        display: block;
        padding: 3%;
        min-height: 10vh;
        border-radius: 30px;
        border: 1px solid rgb(77, 77, 77);
        background-color: #c7c7c792;
        text-align: center;
      }
    }
    .personajes{
      position: absolute;
      bottom: 0;
      .doncella{
        position: relative;
        height: 80vh; 
      }
      .caballero-muerte{
        position: relative;
        height: 80vh;
      }
    }
  }
  .negro{
    background-color: #111111;
  } 
  .blanco{
    background-color: #fff;
  }
}

.hidden {
  display: none;
}





